language: node_js
node_js:
  - "4"
  - "5"
  - "6"
dist: trusty
sudo: required
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
script:
  - source lib/test.sh
  - xvfb-run test_shadow
  - xvfb-run test_shady
